<!-- <app-header></app-header>
<main>
  <router-outlet></router-outlet>
</main> -->

<div style="height: 80vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>PRS</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <a *ngIf="userIsAuthenticated" mat-button routerLink="/laboratory" routerLinkActive="mat-accent">Laboratorium</a>
        <a *ngIf="!userIsAuthenticated" mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
        <a *ngIf="userIsAuthenticated" mat-button (click)="onLogout()">Logout</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a *ngIf="userIsAuthenticated" mat-list-item routerLink="/laboratory" routerLinkActive="mat-accent">Laboratorium</a>
        <a *ngIf="!userIsAuthenticated" mat-list-item routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
        <a *ngIf="userIsAuthenticated" mat-list-item (click)="onLogout()">Logout</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill><router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>
</div>

