.dialog-content {
  padding: 1rem;

  .dialog-content-item {
    margin-bottom: 1rem;
    width: 100%;

    .parameter-value {
      width: 50%;
    }

    .parameter-name {
      width: 50%;
    }

  }
}


