<div>
  <h1 mat-dialog-title>Raport nr {{data.id}} {{data.createdAt | date: 'yyyy-MM-dd'}}</h1>
  <div mat-dialog-content>
    <div class="dialog-content">
      <div class="dialog-content-item">
        <span><b>Przedmiot badania: </b>{{data.product.name}}</span>
      </div>
      <div class="dialog-content-item">
        <span><b>Pochodzenie: </b>{{data.warehouse.name}}</span>
      </div>
      <div class="dialog-content-item">
        <span><b>Opis: </b>{{data.description}}</span>
      </div>
      <div class="dialog-content-item">
        <span>PARAMETRY</span>
        <div *ngFor="let reportItem of data.reportItems">
            <span><b>{{reportItem.productParameter.name}} - </b></span> {{reportItem.value}}
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <!-- <a mat-button [routerLink]="['/reports/edit/',data.id]" (click)="onNoClick()">Edytuj</a> -->
  <button mat-button (click)="onNoClick()">Zamknij</button>
</div>
